<footer class="my_footer">


<div class="my_vertical">

  <div class="my_footer_content">

    <!-- BLOG SUBSCRIBTION -->	
    <div class="my_footer_subscribe">		
      <a class="icon-rss" target="_blank" href="{{@blog.url}}/rss/"> Subscribe</a>
    </div>


    <!-- BLOG COPYRIGHT -->	
    <div class="my_footer_copyright">
      <span>All content copyright</span> 
      <a href="/">{{@blog.title}}</a> 
      <span>&copy; {{date format="YYYY"}} &bull; All rights reserved.</span>
    </div>


    <!-- BLOG PUBLISHED -->	
    <div class="my_footer_published">
      <a href="http://www.blog.oliastic.com" target="_blank">MyTheme</a><span> by </span><a href="http://www.oliverarold.com" target="_blank">Oliver Arold</a>
      <span>&bull; Proudly published with </span><a class="icon-ghost" href="http://tryghost.org" target="_blank"> Ghost</a>
    </div>
    
   </div> 

</div>

</footer>