<!-- INDEX HEADER MAIN -->
{{#if @blog.cover}}
<div class="my_index_header_main">  
  <!-- AUTHOR COVER -->	  
  <div class="my_index_header_cover"><img src="{{@blog.cover}}" itemprop="image" /></div>
</div>
{{/if}}