<!-- PAGE HEADER MAIN -->
{{#if post.image}}
<div class="my_page_header_main">
  <!-- POST COVER -->	  
  <div class="my_page_header_cover"><img src="{{post.image}}" itemprop="image" /></div>
</div>
{{/if}}
