<form>
    <input id="search-field" />
    <input type="submit" value="search">
</form>

<section id="results"></section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{asset "js/jquery.ghostHunter.js"}}"></script>

<script>
	var searchField = $("#search-field").ghostHunter({
						results     : "#results",
						//rss       : "rss.xml",
						//Enable the "search as you type" by uncommenting the following line
						//onKeyUp   : true
					  });

	function clearResults() {
	  searchField.clear();
	}
</script>	