<!-- USE DEFAULT.HBS AS LAYOUT PAGE -->
{{!< default}}


<!-- INCLUDE HEADER -->
{{> header}}
	

<!-- INCLUDE NAVIGATION -->
{{navigation}}	


<!-- START MAIN -->
<main class="my_tag_main" role="main">

	<!-- DISPLAY RESULTS IF SEARCH PERFORMED -->
	<div id="results"></div>
	  
	<!-- DISPLAY NORMAL CONTENT -->
	<div id="results_hide">
    <!-- IMPORT INDEX HEADER -->
    {{> "header_tag"}}
    
    <!-- IMPORT TAG LOOP -->
		{{> "loop"}}	
	</div>

<!-- CLOSE MAIN -->
</main>


<!-- INCLUDE FOOTER -->
{{> footer}}
